:root {
  --pr-color: #04991c;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}
.navbar {
  background-color: #0058b0; /*ganti warna background*/
}

.navbar-nav .nav-link {
  color: #f1f1f1; /*ganti warna text*/
  font-size: 16px;
}

.navbar-nav .nav-link:hover {
  color: var(--pr-color);
}

.button-secondary {
  width: 125px;
  height: 40px;
  background-color: var(--pr-color);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}

.button-primary {
  width: 125px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}
